<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Welcome to Weatherflan</h1>
        <hr>
        <p>Weather application built in Rails 7. Press "reload" in your web browser to update the reading.</p>
        <a href="#" class="btn btn-primary">link</a>
    </div>
</div>